# List- List are the Sequence of Elementsenclosed in Square brackets

In [3]:
[1,2,3,4]

[1, 2, 3, 4]

In [4]:
type([1,2,3,4])

list

In [5]:
l1=[1,'Adesh',2,'Shubham',3]

In [6]:
l1

[1, 'Adesh', 2, 'Shubham', 3]

In [7]:
l1.append('Sai')

In [8]:
l1

[1, 'Adesh', 2, 'Shubham', 3, 'Sai']

In [9]:
l1.pop(0)

1

In [10]:
l1

['Adesh', 2, 'Shubham', 3, 'Sai']

In [11]:
l1.remove(2)

In [12]:
l1

['Adesh', 'Shubham', 3, 'Sai']

In [14]:
l1.insert(4,'Aashu')

#

In [15]:
l1

['Adesh', 'Shubham', 3, 'Sai', 'Aashu']

In [16]:
l1.pop(2)

3

In [17]:
l1

['Adesh', 'Shubham', 'Sai', 'Aashu']

In [18]:
l1.count('Sai')

1

In [19]:
l1.index('Aashu')

3

In [20]:
l1

['Adesh', 'Shubham', 'Sai', 'Aashu']

In [21]:
l1[3]

'Aashu'

In [22]:
l1[0]

'Adesh'

In [23]:
type(l1[0])

str

In [24]:
l1[0][1:5]

'desh'

In [25]:
l1

['Adesh', 'Shubham', 'Sai', 'Aashu']

In [30]:
l2=['Adesh', 'Shubham', 'Sai', 'Aashu',[10,20,30,40,50,'Yash']]

In [31]:
l2

['Adesh', 'Shubham', 'Sai', 'Aashu', [10, 20, 30, 40, 50, 'Yash']]

In [32]:
l2[4][3]

40

In [33]:
l2[4][5][1:4]

'ash'

In [34]:
l4=[100,200,'hi',[23,34,[51,51,53,'hello']]]

In [35]:
l4

[100, 200, 'hi', [23, 34, [51, 51, 53, 'hello']]]

In [37]:
l4[3][2][3]

'hello'

In [38]:
l4[3][2][3][1:4]

'ell'

In [39]:
type(l4[3][2][3][1:4])

str

In [40]:
l4[1]=300

In [41]:
l4

[100, 300, 'hi', [23, 34, [51, 51, 53, 'hello']]]

In [42]:
l5=[1,2,3,[4,5,['target']]]

In [44]:
l5[3][2][0]

'target'

In [45]:
[1,2,3,4]+[5,6,7,8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [46]:
[1,2,3,4]*2

[1, 2, 3, 4, 1, 2, 3, 4]

# Dictionaries

In [48]:
 {'id':100,'name':'Adesh'}

{'id': 100, 'name': 'Adesh'}

In [49]:
type( {'id':100,'name':'Adesh'})

dict

In [50]:
d={'srno':1,'name':'Adesh','run':10000,'team':['ind','csk','yk']}

In [51]:
d

{'srno': 1, 'name': 'Adesh', 'run': 10000, 'team': ['ind', 'csk', 'yk']}

In [52]:
type(d)

dict

In [53]:
d[1]

KeyError: 1

In [54]:
d['name']

'Adesh'

In [55]:
d['run']

10000

In [57]:
d['team']

['ind', 'csk', 'yk']

In [58]:
d['team'][1]

'csk'

In [59]:
d['name'][1:]

'desh'

In [64]:
d2={'k1':{'k2':[4,5,6,7,8,'hi']}}

In [65]:
d2

{'k1': {'k2': [4, 5, 6, 7, 8, 'hi']}}

In [66]:
type(d2)

dict

In [68]:
d2['k1']['k2'][5]

'hi'

In [69]:
d

{'srno': 1, 'name': 'Adesh', 'run': 10000, 'team': ['ind', 'csk', 'yk']}

In [70]:
d.keys()

dict_keys(['srno', 'name', 'run', 'team'])

In [71]:
d.values()

dict_values([1, 'Adesh', 10000, ['ind', 'csk', 'yk']])

In [73]:
d.popitem()

('team', ['ind', 'csk', 'yk'])

In [74]:
d

{'srno': 1, 'name': 'Adesh', 'run': 10000}

In [75]:
d.pop('run')

10000

In [76]:
d

{'srno': 1, 'name': 'Adesh'}

In [77]:
# tuples

In [78]:
(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [79]:
type((1,2,3,4,5))

tuple

In [80]:
t=(22,44,'hello',400,500)

In [81]:
t

(22, 44, 'hello', 400, 500)

In [82]:
t.count(22)

1

In [83]:
t.index('hello')

2

In [84]:
t[100]

IndexError: tuple index out of range

In [85]:
t

(22, 44, 'hello', 400, 500)

In [86]:
t[2:4]

('hello', 400)

In [87]:
t[0:]

(22, 44, 'hello', 400, 500)

In [88]:
t[::-1]

(500, 400, 'hello', 44, 22)

In [89]:
t

(22, 44, 'hello', 400, 500)

In [90]:
t[::2]

(22, 'hello', 500)

In [91]:
t[1]=100

TypeError: 'tuple' object does not support item assignment

In [92]:
s='Adesh'

In [93]:
s[::-1]

'hsedA'

In [94]:
t

(22, 44, 'hello', 400, 500)

# sets

In [96]:
#set is a collection of unique Elements

In [97]:
s={1,2,3}

In [98]:
type(s)

set

In [99]:
{1,2,3,1,2,3,1,2,3,1,2,3}

{1, 2, 3}

In [101]:
s.add(4)

In [102]:
s

{1, 2, 3, 4}

In [103]:
s1={5,6,7,8}

In [105]:
s2=s.union(s1)

In [106]:
s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [107]:
s2.pop()

1

In [108]:
s2

{2, 3, 4, 5, 6, 7, 8}

In [109]:
s2[:5]

TypeError: 'set' object is not subscriptable

In [113]:
s2.remove(6)

##

In [114]:
s2

{2, 3, 4, 5, 7}

# Comparison Operator

In [115]:
1>2

False

In [116]:
1<2

True

In [117]:
1==1

True

In [118]:
2>=1

True

In [120]:
2=5

SyntaxError: cannot assign to literal (<ipython-input-120-0f9756fb86ea>, line 1)

In [121]:
2==5

False

In [122]:
2<=3

True

In [123]:
2<3

True

In [124]:
2<2

False

In [125]:
2>2

False

In [126]:
'hi'=='hi'

True

In [127]:
'Adesh'=='adesh'

False

In [128]:
'Adesh'=='Adesh'

True

In [129]:
's'=='S'

False

In [130]:
65=='A'

False

# Logic Operator

In [133]:
1>2 and 2<3

False

In [134]:
1==1 and 2==2

True

In [135]:
1>2 and 2<3

False

In [136]:
1>2 or 2<3

True

# and
# T &  T  = T
# T &  F  = F
# F &  T  = F
# F &  F  = F

# or
# T /  T  = T
# T /  F  = T
# F /  T  = T
# F /  F  = F

In [139]:
1==2 and 2==3 and 4==4

False

In [140]:
1==2 or 2==3 or 4==4

True

In [141]:
1==2 or 2==3 and 4==4

False

In [142]:
a=1

In [143]:
a

1